<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Merhaba</strong> Kartınızı sisteme kaydederek alışverişe kesintisiz devam edebilirsiniz.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<form>
    <div class="col-md-5">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Kart Numarası</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div></div>
    <div class="col-md-3">
        <div class="col-md-12"><div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Son Kullanma Tarihi(AA/YY)</label>
      <input type="password" placeholder="AA/YY" class="form-control" id="exampleInputPassword1">
      <input type="number" placeholder="CVC Kodunu giriniz"  class="form-control" id="exampleInputPassword3">
    </div></div></div>
    
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Kartı Kaydet</label>
    </div>
    <button type="submit" class="btn btn-primary">Onayla</button>
  </form>